@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
footer {
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}

.footer_logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
    /* margin-left: -6rem; */
}

.allLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 0 auto 3rem;
    margin-bottom: 2rem;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer_socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer_socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

footer_copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

.footer_logo {
    margin-left: -6rem;
}

.mylogo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    margin: 2rem 0rem;
}
.mylogo_bg {
    font-size: 8rem;
    line-height: 4rem;
}

.mylogo_Front{
    color: var(--color-white);
    font-size: 1.25rem;
    height: 2rem;
    margin: 0rem 0rem 0rem -15rem;
    z-index: 2;
    background: transparent;
    /* background-color: var(--color-primary); */
    
}
.mylogo_Front:hover{
    color: black;
}
.allLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 0 auto 3rem;
    margin-bottom: 2rem;
}
.btn1{
    width: max-content;
    min-width: 7rem;
    /* color: var(--color-primary); */
    color: var(--color-bg);
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border: 1px solid var(--color-bg);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: var(--transition);
  }
  .btn1:hover{
    color: var(--color-bg);
    background:var(--color-white);
    border-color: transparent;
  }

/* ########################## Media Query Small Device ######################### */
@media screen and (max-width: 600px) {
    .allLinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer_socials {
        margin-bottom: 2.5rem;
    }
}